// sekcja story about us //

@include susy-breakpoint(max-width 480px) {

    .c-about-us {

    }

    .c-about-us > h2 {

    }




    .c-about-us-gallery {

        &__item {

            &:nth-child(3) {

             }               



        }
        &__image {    

            &:hover {

                
            }                    
        &__mask {
          
            &:hover {

                }               
            }

        }
        &__icon {
            
        }
        
        &__heading {
           
            font-family:$Montserrat-Bold;
            font-size:14px;
            text-transform: uppercase;
            color:white;
        }

        }
        
        &__figcaption {

                            
        }


}










@include susy-breakpoint(481px 768px) {

    .c-about-us {

    }

    .c-about-us > h2 {

    }




    .c-about-us-gallery {

        &__item {

            &:nth-child(3) {

             }               



        }
        &__image {    

            &:hover {

                
            }                    
        &__mask {
          
            &:hover {

                }               
            }

        }
        &__icon {
            
        }
        
        &__heading {
           
            font-family:$Montserrat-Bold;
            font-size:14px;
            text-transform: uppercase;
            color:white;
        }

        }
        
        &__figcaption {

                            
        }


}










@include susy-breakpoint(769px 1199px) {

    .c-about-us {

    }

    .c-about-us > h2 {

    }




    .c-about-us-gallery {

        &__item {

            &:nth-child(3) {

             }               



        }
        &__image {    

            &:hover {

                
            }                    
        &__mask {
          
            &:hover {

                }               
            }

        }
        &__icon {
            
        }
        
        &__heading {
           
            font-family:$Montserrat-Bold;
            font-size:14px;
            text-transform: uppercase;
            color:white;
        }

        }
        
        &__figcaption {

                            
        }


}










@include susy-breakpoint(1200px) {
    
    
     .c-about-us {

    }

    .c-about-us > h2 {


    }





    .c-about-us-gallery {

        &__item {

            &:nth-child(3) {

             }               



        }
        &__image {    

            &:hover {

                
            }                    
        &__mask {
          
            &:hover {

                }               
            }

        }
        &__icon {
            
        }
        
        &__heading {
           
            font-family:$Montserrat-Bold;
            font-size:14px;
            text-transform: uppercase;
            color:white;
        }

        }
        
        &__figcaption {

                            
        }


}
        
        

    

   
    
